mnist_conv/*
records/*
tmd/*
records_deeper/*
records_wearable/*
records_resnet18/*
records_preresnet/*
records_TDD/*
records*
adapt_S_tmp/*
adapt_conv_lstm/*
adapt_S/*
adapt/*
test/*
TDD/*
PIE/*
*.svg
*.pdf
*.png
figure/*
